@tailwind base;
@tailwind components;
@tailwind utilities;

.color-primary {
    color: rgb(234 179 8 / var(--tw-text-opacity));
}

.bg-primary {
    background-color: #5DBE74;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}